@model SavageTools.Web.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <h2>NPC Generator</h2>
    <table class="gridtable">
        <tr>
            <th>Setting</th>
            <td>
                @Html.DropDownList("setting", Model.SettingList(), new { onchange = "settingChanged($('#setting')[0].value, $('#archetype')[0], $('#race')[0], $('#rank')[0])" })
            </td>
            <th>Archetype</th>
            <td>
                <select id="archetype"></select>
            </td>
            <th>Race</th>
            <td>
                <select id="race"></select>
            </td>
            <th>Rank</th>
            <td>
                <select id="rank"></select>
            </td>

            <th>Count</th>
            <td>
                <input type="number" id="squadCount" value="1" />
            </td>
            <td rowspan="2" valign="middle">
                <input id="showCharacterScreen" type="button" value="Generate Squad" onclick="generateSquad(readValue('setting'), readValue('archetype'), readValue('race'), readValue('rank'), readValueInt('squadCount'))" />
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>


            <td colspan="2">
                Leave blank for random.
            </td>
            <td colspan="2">
                Leave blank for random.
            </td>
            <td colspan="2">
                Leave blank for random.
            </td>
            <td colspan="2"></td>

        </tr>

    </table>
</div>

<div class="row">
    <h2>Mission Generator</h2>
    <table class="gridtable">
        <tr>
            <th>Slowest Pace</th>
            <td><input type="number" id="pace" value="6" /></td>

            <th>Days per trouble draw</th>
            <td><input type="number" id="eventFrequency" value="3" /></td>
        </tr>
        <tr>
            <td colspan="2">This determines how many miles the group travels per day, which is important when the mission requires travelling.<br/>
            If ridiing in a vehicle, use it's pace instead.
            </td>
            <td colspan="2">Normally you draw 1 card every 3 days, with a Jack or better meaning trouble.</td>
        </tr>
        <tr>
            <th rowspan="2">Rifts</th>
            <td rowspan="2">Requires Rifts GM Handbook and Savage Foes of North America</td>
            <td colspan="6">
                <input type="button" value="Mission" onclick="generateRiftsMission(readValueInt('pace'), readValueInt('eventFrequency'), 'mission')" />
                <input type="button" value="Rift" onclick="generateRiftsMission(readValueInt('pace'), readValueInt('eventFrequency'), 'rift')" />
                <input type="button" value="Ley Line Storm" onclick="generateRiftsMission(readValueInt('pace'), readValueInt('eventFrequency'), 'leylinestorm')" />
                <input type="button" value="Trouble" onclick="generateRiftsMission(readValueInt('pace'), readValueInt('eventFrequency'), 'trouble')" />
            </td>
        </tr>
         <tr>
            <td colspan="6">
                <input type="button" value="It Came From the Rifts" onclick="generateRiftsDemon()" />
            </td>
        </tr>
    </table>
</div>


<div>Names are based on <a href="https://github.com/RandomAPI/Randomuser.me-Node">RandomUser.me</a> and historic sources.</div>
<div>Personality traits are based on <a href="https://www.roleplayingtips.com/tools/1000-npc-traits/">1,000 NPC Traits</a></div>

@section Scripts {
    @Scripts.Render("~/Scripts/Home/Index.js")
}